@font-face {
	font-family: "PT-Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face{
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}

body{
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "PT Sans","Arial", sans-serif;
	font-size: 18px;
	line-height: 26px;
	background-color: white;
	color: #000000;
	font-style: normal;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden{
	display: none;
}

.all-content{
	margin: 0 auto;
    padding: 0;
    width: 1200px;
    max-height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);

}

.page-header{
    margin: 0;
    padding: 0;

}

/*Шапка сайта */

.navigation{
	display: flex;
    padding: 0;
    margin: 0 70px 0 70px;
    max-height: 64px;

    
}

.logo {
	position: relative;
    margin-right: 30px;
}



.navigation-list {
	padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.navigation-list-pages {
  	display: flex;
  	flex-wrap: wrap;
 	padding: 0;
  	margin: 0;
  	font-weight: 700;
	font-size: 20px;
	line-height: 120%;
}

.navigation-item{
	margin: 0;
	padding: 20px 16px;

}

.navigation-current a{
	cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #756257;
  	text-decoration-thickness: 3px;
  	text-underline-offset: 18px;
  	text-underline-position: under;
}

.navigation-link{
	text-decoration:none;
	color: inherit;
}

.navigation-user{
	display: flex;
	margin: 0;
	text-align: center;
	margin-left: auto;
	justify-content: flex-end;


}


.navigation-button{
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 8px 34px;
    text-align: center;

}


/*Конец шапки*/


.main-content{
 	width: 1200px;
 	margin: 0 auto;
 }