@font-face {
	font-family: "PT-Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face{
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}

body{
	margin: 0;
	padding: 0;
	font-family: "PT Sans","Arial", sans-serif;
	font-size: 18px;
	line-height: 26px;
	background-color: white;
	color: #000000;
	font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden{
	display: none;
}

.all-content{
	margin: 0 auto;
    padding: 0;
    width: 1200px;
    max-height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);

}

.page-header{
    margin: 0;
    padding: 0;

}

/*Шапка сайта */

.navigation{
	display: flex;
    padding: 0;
    margin: 0 70px 0 70px;
    max-height: 64px;
}

.logo {
	position: relative;
    margin-right: 30px;
}

.navigation-1{
	margin: 0;
    padding: 0;
    
}
.navigation-list{
	padding: 0;
    margin: 0;
    list-style: none;
}

.navigation-list-pages {
  	display: flex;
  	flex-wrap: wrap;
 	padding: 0;
  	margin: 0;
  	font-weight: 700;
	font-size: 20px;
	line-height: 120%;
}

.navigation-item{
	margin: 0;
	padding: 20px 16px;

}

.navigation-current a{
	cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #756257;
  	text-decoration-thickness: 3px;
  	text-underline-offset: 18px;
  	text-underline-position: under;
}

.navigation-link{
	text-decoration:none;
}

.navigation-user{
	display: flex;
	margin: 0;
	text-align: center;
}


.navigation-button{
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 8px 50px;
    text-align: center;

}


/*Конец шапки*/


.main-content{
 	width: 1200px;
 	margin: 0 auto;
}


.hero {
    padding: 51px;
    padding-bottom: 82px;
    min-height: 300px;
    text-align: center;
    background-color: #f2f2f2;
    background-image: url(../img/welcome.svg), url(../img/Hero.jpg);
    background-repeat: no-repeat;
    background-position: center bottom, center center;
    background-size: 100% auto, cover;
}

.blog-sedona{
 	width: 1200px;
 	padding: 0;
 	margin: 0;
 	padding-bottom: 21px;


}

.blog-sedona-title{
	font-weight: 700;
	font-size: 30px;
	line-height: 120%;
	text-transform: uppercase;
	text-align: center;
	color: black;
	margin-top: 69px;
}

.blog-sedona-text{
	font-weight: 400;
	font-size: 22px;
	line-height: 118%;
	text-align: center;
	margin-bottom: 69px;
}

.blog-list-city{
	padding: 0;
	margin: 0;
	width: 1200px;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

.blog-content-item .content-item-city{
	display: flex;
	margin: 0;
	padding: 0;
	width: 100%;
}

.blog-gallery{
	display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;	
}

.blog-canyon{
flex-direction: row-reverse;
}


.content-with-img{
	background-color:#82B3D3;
	color: white;
	width: 400px;
	padding: 102px 85px 102px 85px;
}

.content-with-img h3{
	font-weight: 700;
	font-size: 24px;
	line-height: 117%;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
	position: relative;

}

.content-with-img p{
	font-weight: 400;
	font-size: 18px;
	line-height: 117%;
	text-align: center;

}

.city-img .img-canyon {
	width: 800px;
	height: 100%;
	display: block;
	padding: 0;
	margin: 0;
}